<h3>Datos del servicio de Angular</h3>
<h4>Arturo Garcia</h4>
<div>
  <table *ngIf="clientesService.empleados.length > 0; else noHayEmpleados">
    <tbody>
      <tr *ngFor="let empleado of clientesService.empleados">
        <td>{{empleado._id}}</td>
        <td>{{empleado.name}}</td>
        <td>{{empleado.gender}}</td>
        <td>{{empleado.age}}</td>
        <td>{{empleado.company}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noHayEmpleados>
    <h5>No hay empleados </h5>
  </ng-template>

</div>