<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Checo</td>
        <td>Perez</td>
        <td>@checobebePerez</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lando</td>
        <td>Norris</td>
        <td>@LNorris</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lewis</td>
        <td>Hamilton</td>
        <td>@Hamilton</td>
      </tr>
    </tbody>
  </table>