#cajasoltar{
    float: left;
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 1px solid #999999;
   }
   #cajaimagenes{
    float: left;
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 1px solid #999999;
    background-image: url(FONDO.jpg.avif);
    background-size: cover;
    background-position: center center;
   }
   #cajaimagenes > img{
    float: right;
    padding: 5px;
   }
   canvas{
    background-image: url(FONDO.jpg.avif) ;
    background-size: cover;
    background-position: center center;
   }