<!DOCTYPE html>
<html>
<head>
	<title>Mi sitio web de viajes</title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	
    

	<main>
		<section class="slider">
			<div class="slide slide1"></div>
			<div class="slide slide2"></div>
			<div class="slide slide3"></div>
			<button class="btn-reserva">Reservar ahora</button>
		</section>
	</main>

	<footer>
		<p>© 2023 Mi sitio web de viajes. Todos los derechos reservados.</p>
		<ul>
			<li><a href="#">Política de privacidad</a></li>
			<li><a href="#">Términos y condiciones</a></li>
			<li><a href="#">Aviso legal</a></li>
		</ul>
	</footer>

</body>
</html>

