body{
    background-image: url("https://st.depositphotos.com/1494134/3426/v/600/depositphotos_34265933-stock-illustration-casino-green-luxury-horizontal-background.jpg");
}

.contenido{
    text-align: center;
    background-image: url("https://st.depositphotos.com/1494134/3426/v/600/depositphotos_34265933-stock-illustration-casino-green-luxury-horizontal-background.jpg");

}



