<div class="container">
    <h3>
        {{!editMode ? 'Crear persona' : 'Editar persona'}}
    </h3>
    <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Apellido</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Contacto</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">UID</label>
        <input disabled type="text" class="form-control">
    </div><br>
    <div class="form-group">
        <button class="btn btn-primary" type="button">
            {{!editMode ? 'Crear persona' : 'Editar persona'}}
        </button>
    </div>
</div><br>
